<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="qianrui" translate="label" sortOrder="100">
            <label>Qianrui</label>
        </tab>
        <section id="qr_slider" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Slider</label>
            <tab>qianrui</tab>
            <resource>Qianrui_Slider::configuration</resource>
            <group id="options" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Options</label>
                <field id="autoplay" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Autoplay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>
                <field id="loop" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loop</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>
            </group>
        </section>
    </system>
</config>